*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

hr {
  margin: 0;
}

p {
  margin: 0;
}
