$tablet-width: 640px;
$desktop-width: 1280px;

$primary-color: #030953;
$secondary-color: #ef3e4a;
$header-border-color: #f2f2f2; // header border-bottom
$filter-block-color: #f7f7f7;
$secondary-text-color: #333333;
$additional-text-color: #808080;
$input-color: #e5e5e5;
$hover-color: rgba(3, 9, 83, 0.03);
$selected-color: rgba(3, 9, 83, 0.2);
$selected-hover-color: rgba(3, 9, 83, 0.23);
